**.iml
.gradle
/local.properties
.idea
.DS_Store
build
.cxx

.vscode

**.xcodeproj
Pods

.vs
**.VC.db
**.VC.VC.opendb
Debug
Release
ipch
**.aps
libs/*.iobj
libs/*.ipdb
libs/*.pdb
libs/*.exe
libs/*.dmp

Linux/*.dmp
Linux/CrashExample

iOS/Pods
**.xcworkspace
